@import "tailwindcss";

body {
  @apply bg-gray-900 text-white font-mono;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes blink {
  50% { border-color: transparent }
}

.typing {
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid #00ff88;
  animation:
    typing 2s steps(30, end) forwards,
    blink 1s step-end infinite;
}

